.headerBlock {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: var(--xgs-code-header-background);
  padding: 0.75rem var(--ifm-pre-padding);
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
  border-top-left-radius: var(--ifm-code-border-radius);
  border-top-right-radius: var(--ifm-code-border-radius);
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  gap: 0.75rem;
  /* height: 3rem; */
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
}

.headerBlockIcon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.8;
}

.headerBlockTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerBlockFlag {
  /* margin-left: 1rem; */
  margin-left: auto;
  opacity: 0.6;
  text-transform: uppercase;
  /* font-size: 0.75em; */
  flex-shrink: 0;
}