/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Custom Properties */
  --xgs-color-primary: #ff0808;
  --xgs-color-primary-dark: #ed0000;
  --xgs-color-primary-darker: #e00000;
  --xgs-color-primary-darkest: #b80000;
  --xgs-color-primary-light: #ff2222;
  --xgs-color-primary-lighter: #ff2f2f;
  --xgs-color-primary-lightest: #ff5757;

  --xgs-code-header-background: #222222;

  --ifm-link-color: var(--xgs-color-primary);

  /* Primary Colors */
  --ifm-color-primary: #cfcfcf;
  --ifm-color-primary-dark: #bababa;
  --ifm-color-primary-darker: #b0b0b0;
  --ifm-color-primary-darkest: #919191;
  --ifm-color-primary-light: #e4e4e4;
  --ifm-color-primary-lighter: #eeeeee;
  --ifm-color-primary-lightest: #ffffff;

  --ifm-hover-overlay: #ffffff0a; /*ffffff0d*/
  /* Quote code bloc */
  /* --ifm-code-background: #151515;  */

  /* Vertical line separator */
  --ifm-toc-border-color: var(--xgs-color-primary-darkest);

  --ifm-blockquote-border-color: var(--xgs-color-primary-darkest);

  /* Alert */
  --ifm-color-info-contrast-background: hsl(0, 0%, 17%);    /* rgb(25, 60, 71); */
  --ifm-color-info-dark: rgb(212 76 76);                    /* rgb(76, 179, 212); */
  --ifm-color-info-darker: rgb(201 71 71);                  /* rgb(71, 169, 201); */
  --ifm-color-info-darkest: rgb(165 59 59);                 /* rgb(59, 139, 165); */
  --ifm-color-info-light: rgb(239 110 110);                 /* rgb(110, 207, 239); */
  --ifm-color-info-lighter: rgb(242 135 135);               /* rgb(135, 216, 242); */
  --ifm-color-info-lightest: rgb(246 170 170);              /* rgb(170, 227, 246); */
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #cfcfcf;
  --ifm-color-primary-dark: #bababa;
  --ifm-color-primary-darker: #b0b0b0;
  --ifm-color-primary-darkest: #919191;
  --ifm-color-primary-light: #e4e4e4;
  --ifm-color-primary-lighter: #eeeeee;
  --ifm-color-primary-lightest: #ffffff;
  
  --ifm-background-color: #1b1b1b;

  --ifm-scrollbar-track-background-color: #444444;
  --ifm-scrollbar-thumb-background-color: #686868;
  --ifm-scrollbar-thumb-hover-background-color: #7a7a7a;
}

/**
 * Manual override
 * Blender Pro Art Dark Theme
 */
.hero {
  --ifm-hero-background-color: #252525; /*161616*/
  --ifm-hero-text-color: var(--ifm-color-primary);
}
.navbar {
  --ifm-navbar-background-color: #222222;
}
.footer {
  --ifm-footer-background-color: #222222;
}
.button {
  --ifm-button-background-color: #161616;
  --ifm-button-border-color: #303030;
}
.button:hover {
  border-color: var(--xgs-color-primary-darkest);
  --ifm-button-background-color: #181818;
}
.button.button--secondary {
  color: #e7e7e7;
}
/* bad css pointer */
.table-of-contents__link--active { 
  color: var(--xgs-color-primary);
}

/* navbar icons */
.header-icon::before {
    content: "";
    background-color: var(--ifm-navbar-link-color);
    width: 24px;
    height: 24px;
    transition: background-color var(--ifm-transition-fast)var(--ifm-transition-timing-default);
    display: flex;
    /* display: inline-flex; */
}
.header-icon:hover::before {
    /* background-color: var(--ifm-navbar-link-hover-color); */
    background-color: var(--xgs-color-primary);
}
.header-github-link::before {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}
.header-artstation-link::before {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 35 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 24.354c0-.704-.208-1.36-.565-1.91L22.937 2.525A3.54 3.54 0 0 0 19.813.652h-6.077l17.76 30.666 2.8-4.833c.553-.925.704-1.334.704-2.131m-35-.037 2.956 5.093h.001a3.54 3.54 0 0 0 3.157 1.938h19.624l-4.072-7.03zM10.832 5.621l7.938 13.701H2.893z'/%3E%3C/svg%3E");
}

/* CodeBlock-Custom */
/* Hide vanilla codeblock header */
[class^="codeBlockTitle_"] {
  display: none;
}
.theme-code-block {
  margin-bottom: 0;
}

.custom-codeblock, .csvBlock {
  border: 1px solid var(--xgs-color-primary-darkest);
  border-radius: var(--ifm-code-border-radius);
  margin-bottom: var(--ifm-leading);
}

/* CSV */
.csvBlockTable {
  margin-bottom: 0;
  border-bottom-left-radius: var(--ifm-code-border-radius);
  border-bottom-right-radius: var(--ifm-code-border-radius);
}

.csvBlock {
  margin: var(--ifm-spacing-vertical) 0;
  /* display: inline-block; */
  width: fit-content;
  max-width: 100%;
}

.csvBlockContent {
  overflow-x: auto;
}